[flake8]
ignore =
    # Import formatting
    E4,
    # Comparing types instead of isinstance
    E721,
    # Ambiguous variable names
    E741,
    # Allow breaks after binary operators
    W504
max-line-length = 90
